POSTGRES_DB=snippycode
POSTGRES_USER=snippycode
POSTGRES_PASSWORD=change-this-db-password
POSTGRES_PORT=5432

SNIPPYCODE_PORT=5000
SNIPPYCODE_IMAGE=ghcr.io/nerdy-technician/snippycode:latest
SESSION_SECRET=replace-with-a-long-random-secret

GITHUB_TOKEN=
GITHUB_REPO_OWNER=
GITHUB_REPO_NAME=
GITHUB_REPO_BRANCH=main
GITHUB_SNIPPETS_PATH=snippets
